.section-margin {
    margin-bottom: 100px;
}

.top-margin {
    /* margin-top: 200px; */
}

.navigation {
    border-bottom: 1px solid #ededed;
}

.navigation img {
    width: 120px;
    height: auto;
}
.carousel-item {
    /* background-color: coral; */
    padding: 20px 40px;
}

.gadget-row {
    margin-bottom: 20px;
}

.gadget-row h6 {
    color: #FF9D00;
}

.card {
    border: none;
    box-shadow: 5px 5px 20px #DDDDDD;
    border-radius: 8px;
    padding: 10px 0px;
}

.card-img {
    padding: 0px 60px;
    padding-top: 30px;
}
.card-body {
    text-align: center;
}

.buy-now-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
}

P {
    color: #707070;
}

.categories {
    text-align: center;
    position: relative;
    /* border: 1px solid red; */
}

/* .line h3::after {
    content: "";
    height: 10px;
    width: 20%;
    position: absolute;
    left: 40%;
    bottom: -20px;
    border-radius: 5px;
    background-image: linear-gradient(to right,#FFD019, #FF9C35);
} */

/* .categories h3:after {
    content: "";
    height: 5px;
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: -15px;
    border-radius: 10px;
    background: #FFCE1A;
} */
.category-text {
    margin-bottom: 50px;
}

.mini-category-box {
    border: none;
    padding: 30px 30px;
    box-shadow: 5px 5px 30px #DDDDDD;    
}

.mini-category-box h5 {
    /* padding-top: 30px; */
}

.box-1 {
    border-radius: 5px 10px 5px 20px;
    margin-top: 120px;
}

.box-2 {
    border-radius: 10px 5px 20px 5px;
    margin-bottom: 25px;
}

.box-3 {
    border-radius: 10px 5px 20px 5px;
}

/* .mini-cat-box {
    padding: 50px 30px;
    box-shadow: 0 0 30px #ededed;
    margin-top: 25px;
    border-radius: 6px;
    text-align: center;
} */